@model IEnumerable<HR_App_V1.Models.Employee>

@{
    ViewBag.Title = "Employee Select";
}

<h2>Select the employee for whom you are entering an injury form.</h2>


<div class="row">
    <div class="col-sm-4">
        <h3>Don't see who you're looking for? </h3>
    </div>
    <div class="col-sm-4" style="margin-top: 15px">
        <p>@Html.ActionLink("Enter New Employee", "Create", "Employees", new { from = 1 }, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.ActionLink("Select", "Create", new { id = item.ID }, new { @class = "btn btn-primary btn-large" })
                </td>
            </tr>
        }

    </table>

