@model PagedList.IPagedList<HR_App_V1.Models.Workers_Compensation>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "EmployeeSelect")
</p>

@using (Html.BeginForm("Index", "Workers_Compensation", FormMethod.Get))
{
    <p>
        Find by Org # or Division/District: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Organization Number", "Index", new { sortOrder = ViewBag.OrgSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Division/District", "Index", new { sortOrder = ViewBag.DivSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            WC Type ID
        </th>
        <th>
            Injury Date
        </th>
        <th>
            Injury Type
        </th>
        <th>
            Body Parts
        </th>
        <th>
            Claim Ruling Type ID
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Org_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division_District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WC_TypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Injury_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Injury_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body_Parts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Claim_Ruling_TypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Upgrade to Workers Comp", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))