@model IEnumerable<HR_App_V1.Models.Workers_Compensation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "EmployeeSelect")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Org_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division_District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Injury_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Injury_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body_Parts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Org_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division_District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Injury_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Injury_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body_Parts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
